@model WebApplication.Models.BoardModel

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<a href="@Url.Action("Index")">Back</a>

@foreach (var t in Model.Threads)
{
    if (!t.Posts.Any())
    {
        continue;
    }
    var threadStart = t.Posts.First();
    var messagesCount = t.Posts.Count();
    <div class="list-group-item clickable" data-link="@Url.Action("Thread", "Forum", new {threadId = t.Id})">
        <div class="head-container">
            <h2 class="left-side">@threadStart.Topic</h2>
            <div class="right-side">
                <p>@(threadStart.Username ?? "DELETED")</p>
                <p>@threadStart.Timestamp</p>
            </div>
        </div>
        <hr />
        <p>@threadStart.Text</p>
        <em>(@messagesCount @(messagesCount == 1 ? "message" : "messages"))</em>
        <hr/>
        @if (User.IsInRole("Admin"))
        {
            using (Html.BeginForm("DeleteThread", "Forum", FormMethod.Post))
            {
                <input type="hidden" name="threadId" value="@t.Id"/>
                <input class="btn btn-danger" type="submit" value="Удалить"/>
            }
        }
    </div>

}
<hr/>
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    using (Html.BeginForm("AddThread", "Forum", FormMethod.Post))
    {
        <h2>Add thread:</h2>
        <input type="hidden" name="boardId" value="@Model.ShortName"/>
        <p>Title:</p>
        <input class="form-control" type="text" name="name"/>
        <br/>
        <p>Message:</p>
        <input class="form-control" type="text" name="text"/>
        <br/>
        <div class="g-recaptcha" data-sitekey="6LfW4hETAAAAACXIgEY_L8lanGrNSHMDr0aSD1Pb"></div>
        <br/>
        <input class="btn btn-success" type="submit"/>
    }
}
