@model WebApplication.Models.BoardModel

@{
	ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<a href="@Url.Action("Index")">Back</a>

@foreach (var t in Model.Threads)
{
	if (!t.Posts.Any())
	{
		continue;
	}
	var threadStart = t.Posts.First();
	<div class="list-group-item clickable" data-link="@Url.Action("Thread", "Forum", new { threadId = t.Id })">
		<p>@threadStart.Username</p>
		<p>@threadStart.Id</p>
		<p>@threadStart.Timestamp</p>
		<p>@threadStart.Topic</p>
		<p>@threadStart.Text</p>
	</div>
}
<hr/>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddThread", "Forum", FormMethod.Post))
    {
        <h2>Add thread:</h2>
        <input type="hidden" name="boardId" value="@Model.ShortName"/>
        <p>Title:</p>
        <input class="form-control" type="text" name="name"/>
        <br/>
        <p>Message:</p>
        <input class="form-control" type="text" name="text"/>
        <br/>
        <input class="btn btn-success" type="submit"/>
    }
}
