@using Microsoft.AspNet.Identity
@model WebApplication.Models.ThreadModel

@{
    var firstMessage = Model.Posts.First();
	ViewBag.Title = @Model.BoardName + " - " +  firstMessage.Topic;
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<a href="@Url.Action("Board", new {boardId = Model.BoardId})">Back</a>

@foreach (var p in Model.Posts.Select((e, i) => new {Index = i, Post = e}))
{
    @Html.Raw(p.Index == 0
        ? "<div class='list-group-item list-group-item-head clickable' data-link='#'>"
        : "<div class='list-group-item clickable' data-link='#'>")
    <p>@(p.Post.Username ?? "DELETED")</p>
    <p>@p.Post.Id</p>
    <p>@p.Post.Timestamp</p>
    <p>@p.Post.Topic</p>
    <p>@p.Post.Text</p>
	@Html.Raw("</div>")
    if (User.IsInRole("Admin") && p.Index == 0)
    {
        using (Html.BeginForm("DeleteThread", "Forum", FormMethod.Post))
        {
            <input type="hidden" name="threadId" value="@p.Post.ThreadId" />
            <input class="btn btn-danger" type="submit" value="Удалить" />
        }
    }
    if ((User.Identity.GetUserId() == p.Post.UserId || User.IsInRole("Admin")) && p.Index != 0)
    {
        using (Html.BeginForm("DeletePost", "Forum", FormMethod.Post))
        {
            <input type="hidden" name="threadId" value="@p.Post.ThreadId" />
            <input type="hidden" name="postId" value="@p.Post.Id" />
            <input class="btn btn-danger" type="submit" value="Удалить" />
        }
    }
}

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddPost", "Forum", FormMethod.Post))
    {
        <h2>Add post:</h2>
        <input type="hidden" name="threadId" value="@Model.Id"/>
        <p>Title:</p>
        <input class="form-control" type="text" name="name"/>
        <br/>
        <p>Message:</p>
        <input class="form-control" type="text" name="text"/>
        <br/>
        <div class="g-recaptcha" data-sitekey="6LfW4hETAAAAACXIgEY_L8lanGrNSHMDr0aSD1Pb"></div>
        <br/>
        <input class="btn btn-success" type="submit"/>
    }
}
