@using Microsoft.AspNet.Identity
@model WebApplication.Models.ThreadModel

@{
    var firstMessage = Model.Posts.First();
    ViewBag.Title = @Model.BoardName + " - " +  firstMessage.Topic;
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<a href="@Url.Action("Board", new {boardId = Model.BoardId})">Back</a>

@foreach (var p in Model.Posts.Select((e, i) => new {Index = i, Post = e}))
{
    @Html.Raw(p.Index == 0
        ? "<div class='post list-group-item list-group-item-head clickable' data-link='#'>"
        : "<div class='post list-group-item clickable' data-link='#'>")
    <div class="head-container">
        <h2 class="left-side">@p.Post.Topic</h2>
        <div class="right-side">
            <p>@(p.Post.Username ?? "DELETED")</p>
            <p>@p.Post.Timestamp</p>
        </div>
    </div>
    <hr/>
    <p>@p.Post.Text</p>
    if (User.IsInRole("Admin") && p.Index == 0)
    {
        <hr />
        using (Html.BeginForm("DeleteThread", "Forum", FormMethod.Post))
        {

            <input type="hidden" name="threadId" value="@p.Post.ThreadId" />
            <input class="btn btn-danger bottom-right" type="submit" value="Удалить" />
        }
    }
    if ((User.Identity.GetUserId() == p.Post.UserId || User.IsInRole("Admin")) && p.Index != 0)
    {
        <hr/>
        using (Html.BeginForm("DeletePost", "Forum", FormMethod.Post))
        {

            <input type="hidden" name="threadId" value="@p.Post.ThreadId" />
            <input type="hidden" name="postId" value="@p.Post.Id" />
            <input class="btn btn-danger bottom-right" type="submit" value="Удалить" />
        }
    }
    @Html.Raw("</div>")
}

<div id="refresh" data-url="@Url.Action("GetNewPosts")" data-thread-id="@Model.Id"></div>

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    using (Html.BeginForm("AddPost", "Forum", FormMethod.Post))
    {
        <h2>Add post:</h2>
        <input type="hidden" name="threadId" value="@Model.Id"/>
        <p>Title:</p>
        <input class="form-control" type="text" name="name"/>
        <br/>
        <p>Message:</p>
        <input class="form-control" type="text" name="text"/>
        <br/>
        <div class="g-recaptcha" data-sitekey="6LfW4hETAAAAACXIgEY_L8lanGrNSHMDr0aSD1Pb"></div>
        <br/>
        <input class="btn btn-success" type="submit"/>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/forum/js")
}
